APP_NAME="City Tour"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE="Asia/Kuala_Lumpur"
APP_URL=http://127.0.0.1:8000
AUTH_ADMIN_PASSWORD=
AUTH_COMPANY_PASSWORD=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
LOG_DAILY_DAYS=360

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel_testing
DB_USERNAME=laravel_user
DB_PASSWORD=laravel_user_password

DB_DATABASE_MAP=map_data_citytour
DB_USERNAME_MAP=laravel_user
DB_PASSWORD_MAP=laravel_user_password

DB_QUEUE_CONNECTION=mysql

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

GOOGLE_APPLICATION_CREDENTIALS=

#convert api
CONVERT_API_SECRET=
 
#whatsapp
WHATSAPP_URL=https://graph.facebook.com
WHATSAPP_API_VERSION=v21.0
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TOKEN=

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

#app_otp
APP_OTP_ENABLED=false

#email_otp
EMAIL_OTP_ENABLED=false

TAP_SANDBOX_SECRET=
TAP_SANDBOX_PUBLIC=
TAP_SECRET=
TAP_PUBLIC=
TAP_URL=https://api.tap.company

OPENAI_URL=https://api.openai.com
OPENAI_VERSION=v1
OPENAI_KEY=
OPENAI_ASSISTANT_ID=
OPENAI_MODEL=gpt-4.1
OPENAI_API_URL=https://api.openai.com/v1
OPENAI_API_KEY=

OCR_SPACE_API_KEY=

TBO_SANDBOX_URL=
TBO_SANDBOX_USERNAME=
TBO_SANDBOX_PASSWORD=
TBO_URL=
TBO_USERNAME=
TBO_PASSWORD=

CURRENCY_DEFAULT=KWD
CURRENCY_API_KEY=
CURRENCY_API_URL=https://api.currencyapi.com/v3/

MAGIC_HOLIDAY_URL=
MAGIC_HOLIDAY_CLIENT_ID=
MAGIC_HOLIDAY_CLIENT_SECRET=
MAGIC_HOLIDAY_AUTHORIZATION_URL=
MAGIC_HOLIDAY_TOKEN_URL=

IMAP_HOST=
IMAP_PORT=993
IMAP_ENCRYPTION=ssl
IMAP_VALIDATE_CERT=false
IMAP_USERNAME=
IMAP_PASSWORD=
IMAP_PROTOCOL=imap

MYFATOORAH_SANDBOX_URL=https://apitest.myfatoorah.com
MYFATOORAH_SANDBOX_KEY=
MYFATOORAH_LIVE_URL=https://api.myfatoorah.com
MYFATOORAH_LIVE_URL_SA=https://api-sa.myfatoorah.com
MYFATOORAH_LIVE_URL_QA=https://api-qa.myfatoorah.com
MYFATOORAH_LIVE_URL_EG=https://api-eg.myfatoorah.com
MYFATOORAH_LIVE_KEY=

WHATSAPP_URL=https://api.resayil.io/v1/messages
WHATSAPP_API_VERSION=v1
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TOKEN=
WHATSAPP_GRAPH_API_URL=https://graph.facebook.com/v22.0

RESAYIL_BASE_URL=https://api.resayil.io/
RESAYIL_API_VERSION=v1
RESAYIL_PHONE_NUMBER_ID=
RESAYIL_API_TOKEN=

# hesabe
HESABE_MERCHANT_CODE=
HESABE_ACCESS_CODE=
HESABE_SECRET_KEY=
HESABE_IV_KEY=
HESABE_PRODUCTION=https://api.hesabe.com

# hesabe sandbox
HESABE_SANDBOX_MERCHANT_CODE=
HESABE_SANDBOX_ACCESS_CODE=
HESABE_SANDBOX_SECRET_KEY=
HESABE_SANDBOX_IV_KEY=
HESABE_SANDBOX=https://sandbox.hesabe.com

# Test Database Configuration
DB_TEST_DATABASE=laravel_testing

# Backup Configuration
MYSQLDUMP_BINARY_PATH=
BACKUP_ARCHIVE_PASSWORD=
MYSQLDUMP_PATH=
MAIL_TO_DATA_ONLY_BACKUP=

RECAPTCHAV3_SITEKEY=
RECAPTCHAV3_SECRET=

# AnythingLLM
ANYLLM_BASE=
ANYLLM_API_KEY=
ANYLLM_WORKSPACE=
ANYLLM_TIMEOUT=45

AI_PROVIDER=openai

# UPayment
UPAYMENT_LIVE_KEY=
UPAYMENT_SANDBOX_KEY=e66a94d579cf75fba327ff716ad68c53aae11528
UPAYMENT_LIVE_URL=https://api.upayment.com
UPAYMENT_SANDBOX_URL=https://sandboxapi.upayments.com/api

#N8N
N8N_WEBHOOK_URL=

# IATA EASY PAY
IATA_API_BASE_URL=https://easypay.iata.org
IATA_TOKEN_URL=https://login.microsoftonline.com
IATA_CLIENT_ID=
IATA_CLIENT_SECRET=
IATA_CODE=

#OPENWEBUI
OPENWEBUI_MODEL=
OPENWEBUI_API_URL=
OPENWEBUI_API_KEY=

#GRAPHQL
LIGHTHOUSE_QUERY_CACHE_ENABLE=true
LIGHTHOUSE_SCHEMA_CACHE_ENABLE=true

#LOCAL DEV
PHONE_LOCAL=
EMAIL_LOCAL=