/** customization **/

/** custom city style **/

.peer:checked ~ .peer-checked\:ring-blue-500 {
    --tw-ring-opacity: 1;
    --tw-ring-color: none !important;
}

:is(.dark .panel) {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity)) !important;
}

/* Parent element fix */
.parent-element {
    overflow: visible; /* Ensure the tooltip is not hidden */
    position: relative; /* Ensure relative positioning */
}

.btn-success:hover {
    background-color: #159153 !important;
}

.group-hover\:opacity-100 {
    opacity: 1; /* Makes the tooltip visible on hover */
}

.group-hover\:translate-x-2 {
    transform: translateX(0.5rem); /* Slides tooltip slightly to the right */
}

.transition-all {
    transition-property: all; /* Enables smooth transitions for all changes */
}

.duration-200 {
    transition-duration: 200ms; /* Sets transition speed */
}

.bg-lime-200 {
    background-color: rgb(212, 247, 148);
}

thead {
    border-radius: 999px !important;
}

.hidden {
    display: none;
}

/* Define the heartbeat animation */
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Apply the animation on hover */
.heartbeat-container:hover .heartbeat {
    animation: heartbeat 1s infinite;
}

/*****************************************************************************************/

/* navigation */

/******************************************************************************************/

/** Colors *******************************************************************************/
.dataTable-pagination .active a {
    background-color: #1e40af !important;
}

.LightBCcolor {
    background-color: #3961e4 !important;
}

.LightBCcolor:hover {
    background-color: #2a4dcd !important;
}

.DarkBGcolor {
    background-color: #1e40af !important;
    color: #ffffff !important;
}
.DarkBGcolor:hover {
    background-color: #1c3a9ecb !important;
}

.DarkBTextcolor {
    color: #1e40af !important;
}
:is(.dark .DarkBTextcolor) {
    color: #ffffff !important;
}
.icon {
    fill: #1e40af; /* Light mode color */
}

.dark .icon {
    fill: white; /* Dark mode color */
}

:is(.dark .DarkBGcolor) {
    background-color: #111827;
    color: #ffffff !important;
}
:is(.dark .DarkBGcolor:hover) {
    background-color: #1c3a9ecb !important;
}

.city-light-yellow {
    background-color: #ffb958 !important;
}
.city-light-yellow:hover {
    background-color: #f7b14f !important;
}

:is(.dark .city-light-yellow) {
    background-color: #f3a126d4 !important;
}

.liabilitiesText {
    color: #ffc107;
}

.liabilitiesBorder {
    border-color: #ffc107;
}

.incomeText {
    color: #1e40af;
}

.incomeBorder {
    border-color: #1e40af;
}

.expenseText {
    color: #af1740;
}

.expenseBorder {
    border-color: #af1740;
}

/*****************************************************************************************************************/

.BoxShadow {
    box-shadow: 2px 4px 12px #00000014;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Style the SVG */
.custom-checkbox .checkbox-svg {
    cursor: pointer;
    transition: stroke 0.3s ease, fill 0.3s ease;
}

/* When checkbox is checked, change SVG appearance */
.custom-checkbox input[type="checkbox"]:checked + .checkbox-svg rect {
    fill: #159153; /* Green when checked */
    stroke: #159153; /* Green border when checked */
}

/* Optional: Style the checkbox when disabled */
.custom-checkbox input[type="checkbox"]:disabled + .checkbox-svg rect {
    stroke: #191e3a; /* Light gray stroke when disabled */
    fill: #191e3a; /* Light gray fill when disabled */
    cursor: not-allowed;
}

/* Dark mode: Style the checkbox when disabled */
.dark .custom-checkbox input[type="checkbox"]:disabled + .checkbox-svg rect {
    stroke: #ffffff; /* White stroke when disabled in dark mode */
    fill: #ffffff; /* White fill when disabled in dark mode */
    cursor: not-allowed;
}

.CuzPostion {
    bottom: 80px;
    right: 50%;
}

/* auth pages */

.custom-rounded-left {
    border-radius: 0.5rem;
    /* Default for mobile: fully rounded */
}

.custom-rounded-right {
    border-radius: 0.5rem;
    /* Default for mobile: fully rounded */
}

::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #bec7e3;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b1c0db;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bec7e3;
}

.mt07 {
    margin-top: 0.7rem !important;
}

.City-me-2 {
    margin-inline-end: -0.5rem;
}
/* auth pages CSS ends */

/* company dashboard CSS */

#chartOfTopAgents {
    margin: 0 !important; /* Remove all margins */
    padding: 0 !important; /* Remove all paddings */
    width: 100% !important; /* Fill entire container width */
    height: auto !important; /* Adjust height to maintain aspect ratio */
    box-sizing: border-box; /* Include padding/border in width and height calculations */
    display: block; /* Block level element to fill container */
}

/**** chart of account page **************************************************************************************/

/* Adjust the chart container for mobile devices */
.chart-container {
    width: 100%;
    height: 100%;
    margin: 0; /* Remove container margin */
    padding: 0; /* Remove container padding */
    box-sizing: border-box; /* Ensures consistent sizing */
}

.AddNewSamePage {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.AddNewSamePageVisible {
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out;
}

/**** chart of account page END  **************************************************************************************/

/**** charges page **************************************************************************************/

#searchInput:focus {
    outline: none !important; /* focus:outline-none */
    box-shadow: 0 0 4px 2px rgba(31, 45, 61, 0.1) !important; /* focus:shadow */
}
#datepicker:focus {
    outline: none;
    border-color: #1e40af; /* Replace with your desired color */
    box-shadow: none; /* Optional: Add a custom shadow */
}

/**** charges page END **************************************************************************************/

/* company dashboard CSS ends */

/* add company css page */

.CirtbgYellow {
    background-color: #febd5f;
}
.btnCityGrayColor {
    background-color: #8d93a5;
}
.btnCityGrayColor:hover {
    background-color: #747c92;
}

/* add company css page ends */

/* add new for company css page */

/* Custom Select Container */
.custom-select {
    position: relative;
}

/* Trigger */
.select-trigger {
    color: black;
    transition: all 0.3s ease;
}

/* Options Container */
.select-options {
    display: none; /* Initially hidden */
    max-height: 200px;
    overflow-y: auto;
    transition: all 0.3s ease;
    z-index: 10;
}

/* Options */
.select-option {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Selected Option */
.select-option.selected {
    background-color: #00ab55;
    border-color: #159153;
    color: white;
    box-shadow: 2px 4px 12px #00000014;
}

/* Hover Effect */
.select-option:hover {
    background-color: #00ab55;
    color: white;
}

.custom-input {
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside the input */
    border: 1px solid #d1d5db !important; /* Gray border */
    border-radius: 0.5rem;
    color: black; /* Light mode text color */
    transition: all 0.3s ease; /* Smooth transition for dark mode */
    background: transparent;
}

/* Placeholder style */
.custom-input::placeholder {
    color: #747985; /* Placeholder color */
    opacity: 0.7; /* Slightly faded */
}

/* Focus effect */
.custom-input:focus {
    outline: none; /* Remove default outline */
    box-shadow: 2px 4px 12px #00000014;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
    .custom-input {
        background-color: #1e1e1e; /* Dark background */
        color: white; /* Light text color */
        border-color: #d1d5db; /* Dark gray border */
    }

    .custom-input::placeholder {
        color: #000; /* Lighter gray placeholder in dark mode */
    }

    .custom-input:focus {
        border-color: cyan; /* Cyan focus color in dark mode */
        box-shadow: 0 0 5px rgba(0, 255, 255, 0.5); /* Subtle glow effect */
    }
}

.SVGsColor {
    color: #086ad9 !important;
}

.dark .SVGsColor {
    color: #aecff6 !important;
}

.dark .BtColor {
    background-color: #086ad9 !important;
}

/** sidebar *************************************************************************************/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.MaxW {
    width: max-content;
}

.Sidebar-Nos {
    width: 100px;
    z-index: 10;
}

.Main {
    width: 100%;
    max-width: 100vw; /* Prevent it from exceeding the viewport width */
    overflow: hidden; /* Hide horizontal overflow if it exists */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    min-height: 100vh; /* Minimum height to fill the screen */
}

.CheckBoxColor {
    color: #bec7e3 !important;
}

.alert {
    position: absolute;
    top: 70px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: for a subtle shadow */
    z-index: 1050;
}

.text-success {
    --tw-text-opacity: 1;
    color: rgb(0 171 85 / var(--tw-text-opacity));
}
.outline-success {
    outline-color: #00ab55;
}
.bg-success {
    background-color: #00ab55;
}

.bg-success-light {
    --tw-bg-opacity: 1;
    background-color: rgb(221 245 240 / var(--tw-bg-opacity));
}

.text-danger {
    --tw-text-opacity: 1;
    color: rgb(231 81 90 / var(--tw-text-opacity));
}

.bg-danger-light {
    --tw-bg-opacity: 1;
    background-color: rgb(255 245 245 / var(--tw-bg-opacity));
}

.form-checkbox,
.form-radio {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(224 230 237 / var(--tw-border-opacity));
    background-color: initial;
    --tw-text-opacity: 1;
    color: rgb(67 97 238 / var(--tw-text-opacity));
    --tw-shadow: 0 0 #0000 !important;
    --tw-shadow-colored: 0 0 #0000 !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
    outline: 2px solid #0000 !important;
    outline-offset: 2px !important;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000) !important;
    --tw-ring-offset-width: 0px !important;
}

/* invoice page ***********************************************************************************/

.table-responsive {
    background-color: #e5e7eb !important;
} /* used */

.TrX {
    border-bottom: 10px !important;
    border-color: #ffffff !important;
}

.TrX td {
    margin-bottom: 20px !important;
}

/** tasks list page *******************************************************************************/

.filter-badge {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
}

.close-btn {
    border: none;
    background: transparent;
    font-size: 16px;
    color: #6a1b9a; /* Dark purple */
    cursor: pointer;
}

.close-btn:hover {
    color: #4a0072; /* Darker purple on hover */
}

.priceDiv {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

:is(.dark .priceDiv) {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}
.priceRangeCon {
    width: 100%;
}

#priceRange {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 0.5rem;
    margin: 20px;
}

#priceRange:hover {
    opacity: 1;
}

#priceRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #1e40af;
    cursor: pointer;
    border-radius: 50%;
}

#filterBox {
    width: 100%;
    text-align: center;
    display: none;
    border-radius: 0.5rem;
}
.dataTable-pagination nav a:hover {
    background-color: transparent !important;
    position: relative;
    border-radius: 0.5rem; /* 8px */
}

.bgGradient {
    background-color: #b1c0db;
}
.bgGradient .dark {
    background: linear-gradient(0deg, #2c3e50 0%, #131313 100%) !important;
}
.tableCon {
    width: 100%;
    display: flex;
    margin-top: 20px;
    gap: 10px;
    transition: all 0.3s ease; /* Smooth transition for layout adjustments */
}

/* Default - Full width */
.content-70 {
    width: 100%;
    transition: all 0.3s ease;
}

/* When details or filters are visible - Reduce width */
.content-70.shrink {
    width: 70%;
}

/* Sidebar container for details or filters */
.content-30 {
    width: 30%;
    transition: all 0.3s ease;
    display: none; /* Hide by default */
}

/* When sidebar (details or filters) is visible */
.content-30.visible {
    display: block;
}

/* Ensure task details are also hidden initially */
#taskDetails {
    display: none;
}
.menu-icon {
    display: none;
}

/********************************************************************************************************/

/**** media settings ****/

/* Tablet View */
@media (max-width: 768px) {
    .sc768 {
        display: none; /* Hide menu items on tablets by default */
    }
    .menu-icon {
        display: block;
    }
    .text-background p {
        text-align: center !important;
    }
}

/* Mobile View */
@media (max-width: 575px) {
    .sc768 {
        display: none; /* Hide menu items on mobile by default */
    }
    .menu-icon {
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .content-70.shrink {
        width: 70%;
    }

    .content-30 {
        width: 30%;
    }
    .FiltersHeader h1,
    span {
        font-size: 1rem !important;
    }
    .FilltersAppliedPy {
        padding-top: 0.2rem !important;
        padding-bottom: 0.2rem !important;
    }
    .FilltersAppliedPx {
        padding-left: 0.5rem !important;
        padding-right: 0.51rem !important;
    }
}

/* Mobile View */
@media (min-width: 320px) and (max-width: 426px) {
    .tableCon {
        flex-direction: column;
    }

    .content-30 {
        width: 100%;
        order: -1;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .content-70.shrink {
        width: 100%;
    }

    .content-30.visible {
        width: 100%;
    }
}

@media (max-width: 1023px) and (min-width: 425px) {
    .customResponsiveClass {
        flex-direction: column !important;
    }
}
@media (max-width: 1023px) and (min-width: 320px) {
    .customCenter {
        margin: 5px;
        justify-content: center !important; /* Centers along the main axis */
        align-items: center !important; /* Centers along the cross axis */
        flex-direction: row !important;
    }
}
/************************************************************************************************************/

/* Add the slide-up animation */
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.refresh-icon svg.rotate {
    animation: spin 1s linear infinite;
    color: #159153;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Apply the animation to the floatingActions div */
#floatingActions {
    animation: slideUp 0.3s ease-out;
}

/*** menus  ************************************************************************************************/

nav menuitem {
    position: relative;
    display: block;
    opacity: 0;
    cursor: pointer;
}

nav menuitem > menu {
    position: absolute;
    pointer-events: none;
    width: 100%;
    padding: 0px;
    z-index: 100;
}

nav > menu {
    display: flex;
}

nav > menu > menuitem {
    pointer-events: all;
    opacity: 1;
}

menu menuitem a {
    white-space: nowrap;
    display: block;
    padding: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

menuitem:hover > menu {
    pointer-events: initial;
    margin-top: 2px;
}

menuitem:hover > menu > menuitem,
menu:hover > menuitem {
    opacity: 1;
}

nav > menu > menuitem menuitem menu {
    transform: translateX(100%);
    top: 0;
    right: 0;
}

/* User Styles Below Not Required */
/* User Styles Below Not Required */
/* User Styles Below Not Required */

nav a {
    transition: background 0.5s, color 0.5s, transform 0.5s;
    position: relative;
    border-radius: 0.5rem; /* 8px */
}

nav > menu > menuitem > menu > menuitem {
    transition: transform 0.6s, opacity 0.6s;
    transform: translateY(150%);
    opacity: 0;
}

nav > menu > menuitem:hover > menu > menuitem,
nav > menu > menuitem.hover > menu > menuitem {
    transform: translateY(0%);
    opacity: 1;
}

menuitem > menu > menuitem > menu > menuitem {
    transition: transform 0.6s, opacity 0.6s;
    transform: translateX(195px) translateY(0%);
    opacity: 0;
}

menuitem > menu > menuitem:hover > menu > menuitem,
menuitem > menu > menuitem.hover > menu > menuitem {
    transform: translateX(0) translateY(0%);
    opacity: 1;
}

/****** media  **********************************************************************************/

@media screen and (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }

    table.dataTable {
        width: 100% !important;
    }
}

@media (min-width: 1024px) {
    .custom-rounded-left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 1rem;
        /* Custom large rounding for left side */
        border-bottom-left-radius: 1rem;
        /* Custom large rounding for left side */
    }

    .custom-rounded-right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
        /* Custom large rounding for left side */
        border-bottom-right-radius: 1rem;
        /* Custom large rounding for left side */
    }
}

@media screen and (min-width: 1024px) {
    .mt07 {
        margin-top: 0 !important;
    }
}

@media (max-width: 768px) {
    #chartOfTopAgents {
        width: 80% !important; /* Make the chart a bit smaller on mobile */
        height: 200px !important; /* Adjust height for mobile screens */
    }

    .chart-container {
        height: 250px; /* Set a consistent container height on mobile */
    }
}

/* Media Query for Tablet Devices */
@media (max-width: 1024px) and (min-width: 769px) {
    #chartOfTopAgents {
        width: 90% !important; /* Adjust width for tablets */
        height: 300px !important; /* Adjust height for tablets */
    }

    .chart-container {
        height: 350px; /* Set a consistent container height for tablets */
    }
}

@media (max-width: 768px) {
    .Sidebar-Nos {
        display: none;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .Sidebar-Nos {
    }
}

@media (max-width: 768px) {
    .smAside > div {
        flex: 1; /* Make divs equally share available space */
    }
    .smPaddingBottom {
        padding-bottom: 2rem;
    }

    .smJBetween {
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
    }
    .smCenter {
        text-align: center;
    }
}

/***********************************************************************************************/

.chat-box {
    display: flex;
    gap: 0.8rem;
    align-items: flex-end;
}

.chat-box > .chat-message {
    padding: 1rem;
}
.chat-box-user {
    flex-direction: row-reverse;
}

.chat-box-user > div {
    background-color: #007bff;
    color: #fff;
}

.chat-box-user > .chat-message {
    border-radius: 10px 10px 0 10px;
}

.chat-box-assistant {
    flex-direction: row;
}

.chat-box-assistant div {
    background-color: #f1f0f0;
    color: #000;
}

.chat-box-assistant > .chat-message {
    border-radius: 10px 10px 10px 0;
}

.chat-container .send {
    color: white;
    background-color: #007bff;
}

/*****************************************************************************************************/
/** select2 **/
.nice-select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #fff;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 38px;
    line-height: 36px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: auto;
}
select::-moz-focus-inner {
    border: 0;
}

.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: "";
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 5px;
}
.nice-select.open:after {
    transform: rotate(-135deg);
}
.nice-select.open .nice-select-dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0);
}
.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
}
.nice-select.disabled:after {
    border-color: #ccc;
}
.nice-select.wide {
    width: 100%;
}
.nice-select.wide .nice-select-dropdown {
    left: 0 !important;
    right: 0 !important;
}
.nice-select.right {
    float: right;
}
.nice-select.right .nice-select-dropdown {
    left: auto;
    right: 0;
}
.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}
.nice-select.small:after {
    height: 4px;
    width: 4px;
}
.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}
.nice-select .nice-select-dropdown {
    margin-top: 4px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(19px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    opacity: 0;
}
.nice-select .list {
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    max-height: 210px;
    overflow-y: auto;
}
.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}
.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s ease-in-out;
}
/* .selectize:focus,
.selectize:active {
    outline: none;
    border: none;
} */

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #f6f6f6;
}
.nice-select .option.selected {
    font-weight: bold;
}
.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}
.nice-select .optgroup {
    font-weight: bold;
}
.no-csspointerevents .nice-select .nice-select-dropdown {
    display: none;
}
.no-csspointerevents .nice-select.open .nice-select-dropdown {
    display: block;
}
.nice-select .list::-webkit-scrollbar {
    width: 0;
}
.nice-select .has-multiple {
    white-space: inherit;
    height: auto;
    padding: 7px 12px;
    min-height: 36px;
    line-height: 22px;
}
.nice-select .has-multiple span.current {
    background: #eee;
    padding: 0 10px;
    border-radius: 3px;
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 3px;
    margin-right: 3px;
}
.nice-select .has-multiple .multiple-options {
    display: block;
    line-height: 24px;
    padding: 0;
}
.nice-select .nice-select-search-box {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    pointer-events: none;
    border-radius: 5px 5px 0 0;
    border: #767676;
}

.nice-select .nice-select-search {
    box-sizing: border-box;
    background-color: #fff;
    color: #444;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 12px;
    margin: 0 10px 0 0;
    width: 100%;
    min-height: 36px;
    line-height: 22px;
    height: auto;
    outline: 0 !important;
    font-size: 14px;
}

/** select2 **/
